.footer-area li{
    padding-bottom: 10px;
}

.social-media .icon{
    height: 30px;
    width: 30px;
    color: #1cc7c1;
    border-radius: 50%;
    border: 1px solid #6ACECE;
    padding: 7px;
}
.social-media .active-icon{
    background-color: #6ACECE ;
    color:white;
}
.footer-bg
{
    background-image: url('https://i.ibb.co/zm2S0cw/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}